.sidebar{
  position: fixed;
  bottom: 0;
  left: 0;
  top: 55px;
  background-color: white;
  width: auto;
  height: 100%;
  z-index: 101;
  padding-top: 5px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.active {
  background: #e5e5e5;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}